/* importing "Julis Sans One" font */
@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

/* Customizing the configurations that classify as the dynamic document body */
/* Note this includes the Table of Contents menu on the left */
body {
  color: #02253b;
  background: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.9;
}

/* Changing the background color for the HTML summary tab */
summary {
  background: rgb(0, 123, 167, 0.5);
}

/* Changing the background color of the selection banner for Table of Contents (TOC) menu */
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: rgb(0, 123, 167, 0.5);
}

/* Customizing the text configurations for first level header (header with only one #) */
h1 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
	}
/* Customizing the text configurations for second, third level header (header with two and three #'s') */
h2, h3 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold
}

/* Customizing the text configurations for fourth, fifth, sixth level header (header with four, five, and six #'s')*/
h4, h5, h6 {
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: none;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 22px;
}

/* Setting the maximum height for code blocks so that we could have scrollable code blocks*/
pre[class] {
  max-height: 300px;
  overflow-y: auto;
}

img[alt = screenshot]{height: 20px}

/* Customizing the configurations for the title text */
.mytitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font: georgia, sans-serif !important;
  font-size: 30px;
  font-weight: bold;
}


/* Customizing the configurations for the subtitle (in our case, the date)*/
.mysubtitle{
  color: grey;
  letter-spacing: 1px;
}

/* Customizing the configurations for contributors */
.contributors{
  color: grey;
  letter-spacing: 0.8px;
}
/* Set TOC width to be fixed */

#TOC {
  width: 280px;
}


/* Increases spacing between TOC headers*/
.tocify ul, .tocify li {
    line-height: 20px !important;
}

/* Add a logo over TOC */
#TOC::before {
  content: "";
  display: block;
  height: 80px;
  margin: 20px 5px 20px 15px ;
  background-image: url("./shiny_app/www/bitss_just_logo_transparent.png"), url("./shiny_app/www/cega_transparent.png");
  background-size: contain;
  background-position: left, right;
  background-repeat: no-repeat;
}

/* Add OPA layer after TOC */
#TOC::after {
  content: "";
  display: block;
  height: 80px;
  margin: 20px 5px 20px 15px ;
  background-image: url("./shiny_app/www/OPA_layers_details.png");
  background-size: contain;
  background-position: left, right;
  background-repeat: no-repeat;
}

/* Add divider for Executive Summary */

.divider {								/* minor cosmetics */
         display: table;
         font-size: 28px;
         text-align: center;
         width: 75%; 						/* divider width */
         margin: 40px auto;					/* spacing above/below */
     }
.divider span { display: table-cell; position: relative; }
.divider span:first-child, .divider span:last-child {
         width: 50%;
         top: 22px;							/* adjust vertical align */
         -moz-background-size: 100% 2px; 	/* line width */
         background-size: 100% 2px; 			/* line width */
         background-position: 0 0, 0 100%;
         background-repeat: no-repeat;
     }
.divider span:first-child {				/* color changes in here */
         background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
         background-image: -webkit-linear-gradient(180deg, transparent, #000);
         background-image: -moz-linear-gradient(180deg, transparent, #000);
         background-image: -o-linear-gradient(180deg, transparent, #000);
         background-image: linear-gradient(90deg, transparent, #000);
     }
.divider span:nth-child(2) {
         color: #000; padding: 0px 5px; width: auto; white-space: nowrap;
     }
.divider span:last-child {				/* color changes in here */
         background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
         background-image: -webkit-linear-gradient(180deg, #000, transparent);
         background-image: -moz-linear-gradient(180deg, #000, transparent);
         background-image: -o-linear-gradient(180deg, #000, transparent);
         background-image: linear-gradient(90deg, #000, transparent);
     }
